{% extends "base.html" %}
{% block content %}
  {% if not billing_profile %}
    <div class="row justify-content-center">
      
      <div class="col-12 col-md-5 text-center">
        <h3>Já possui conta? Faça login</h3>
        {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
      </div>
      
      <div class="col-12 col-md-1 d-flex align-items-center justify-content-center">
        <span>ou</span>
      </div>
      
      <div class="col-12 col-md-5 text-center">
        <h3>Continuar como convidado</h3>
        {% url "guest_register" as guest_register_url %}
        {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
      </div>
      
    </div>
  {% else %}
    <h1>Checkout</h1>
    <p>Total do carrinho: {{ object.cart.total }}</p>
    <p>Frete: {{ object.shipping_total }}</p>
    <p>Total: {{ object.total }}</p>
  {% endif %}
{% endblock %}
